:root {
  --background-color: #a04955;
  --primary-font-family: "Oswald";
  --secondary-font-family: "Open Sans";
  --headings-color: #001f3d;
  --accent-color: #f3f3f3;
  --button-border: 1px solid black;
}

header {
  background-color: white;
}

h1 {
  font-family: var(--primary-font-family);
  color: #c4c4c4;
  font-weight: 500;
  font-size: 64px;
  line-height: 94px;
  margin: 20px 60px;
  width: 100%;
  border-bottom: 2px solid #c4c4c4;
}

h2,
h3,
h5 {
  font-family: var(--primary-font-family);
  color: black;
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-family: var(--primary-font-family);
  color: white;
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
.header .menu-item a,
a.button,
.aside-container h5 {
  text-transform: uppercase;
}

p,
a.button {
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

a.button {
  border: var(--button-border);
  padding: 10px 15px;
  color: black;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.header {
  margin: 30px 60px;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menu-item a {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--primary-font-family);
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .menu-item {
  display: inline;
  padding: 0 15px;
}

.header .menu-item a {
  color: #333333;
}
.search {
  border: 1px solid var(--background-color);
  border-radius: 54px;
  height: 40px;
  width: 270px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: none;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  font-size: 15px;
  font-family: var(--primary-font-family);
  text-transform: uppercase;
}

.search button {
  border: none;
  background-color: white;
}

.search .search-icon {
  color: var(--background-color);
}

.submenu {
  margin: 20px 60px;
}

.submenu-filter {
  gap: 12px;
  width: 325px;
  margin-right: 45px;
}

.general-container {
  display: flex;
  background-color: var(--accent-color);
  padding: 20px 60px 80px 60px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 315px;
  height: 100%;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid var(--background-color);
}

.line {
  border-bottom: 1px solid var(--background-color);
  margin-bottom: 20px;
}

.aside-container .section-header {
  display: flex;
  justify-content: space-between;
}

.aside-container img {
  display: block;
  width: 20px;
  height: 12px;
}

.dropdownlist {
  font-size: 20px;
  line-height: 36px;
  font-family: var(--primary-font-family);
  font-weight: 300px;
  padding-left: 0;
  list-style: none;
  color: black;
}

.dropdownlist.size,
.dropdownlist.color {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 17px;
}

.dropdownlist.size div {
  width: 40px;
  height: 40px;
  padding: 2px;
  background-color: var(--accent-color);
}

.dropdownlist.color div {
  width: 40px;
  height: 40px;
}

div.black {
  background: black;
}

div.brown {
  background-color: brown;
}

div.blue {
  background-color: blue;
}

div.green {
  background-color: green;
}

div.grey {
  background-color: grey;
}

div.orange {
  background-color: orange;
}

div.white {
  background-color: white;
  border: 1px solid var(--accent-color);
}

.product .section-header {
  justify-content: flex-end;
}

div.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 30px 0;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  font-family: var(--primary-font-family);
}

.card {
  background-color: white;
  width: 25%;
  height: 416px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card .product_image {
  width: 165px;
  height: 165px;
  z-index: 1;
}

.card .product_image2 {
  width: 165px;
  height: 165px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.card .stars {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.card p {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 18px;
  margin: 0;
}

.card span {
  font-weight: 600;
}

.card p::before {
  content: "As low as ";
  font-size: 18px;
}

.card button {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: var(--background-color);
  border: none;
  line-height: 40px;
  margin: 20px auto;
}

.card button::before {
  content: url("../images/homepage_images/shopping-bag\ 1.png");
  position: relative;
  left: 0;
  top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 10px;
}

.active {
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.arrow-up {
  border-radius: 50%;
  color: white;
  background-color: var(--background-color);
  width: 83px;
  height: 83px;
  position: fixed;
  right: 5px;
  bottom: 5px;
  text-align: center;
  line-height: 100px;
  z-index: 50;
}

.footer {
  background-color: var(--background-color);
  padding: 0 60px;
  gap: 42px;
  align-items: flex-start;
}

.footer a,
.footer p {
  color: white;
  line-height: 1.7rem;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
}

.footer .get-to-know-us {
  width: 40%;
}

.footer .get-to-know-us:first-child {
  margin-top: 40px;
}

.footer .subscribe {
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer .subscribe > input {
  border: none;
  height: 61px;
  background: var(--accent-color);
}

.footer .subscribe > input:focus {
  outline: none;
}

.footer .subscribe > input::placeholder {
  text-transform: uppercase;
  color: var(--background-color);
  padding-left: 25px;
  font-family: var(--primary-font-family);
}

.footer .button {
  margin: 8px;
  padding: 0 25px;
  line-height: 45px;
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
}

sub.copywrite {
  margin-left: 60px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
}

.box-modal {
  position: fixed;
  background-color: rgba(
    160,
    132,
    132,
    0.459
  ); /*делаем прозрачное модальное окно*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 60;
  width: 1440px;
  height: 1128px;
}

.box-modal.active {
  display: flex;
}

.modal {
  font-family: var(--primary-font-family);
  background-color: white;
  padding: 60px 80px;
  border: 1px solid black;
}

#modal-closed {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: transform 0.5s linear;
}

#modal-closed:hover {
  transform: scale(1.2);
}

.modal-body {
  display: block;
}

.modal-body h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.modal-body h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-body h3 {
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid var(--background-color);
  margin: 20px 60px;
  line-height: 35px;
  padding-bottom: 10px;
}

.modal-body a {
  border: 1px solid black;
  padding: 10px 15px;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  justify-content: space-between;
}

.modal-images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subnail {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-image {
  width: 469px;
  height: 469px;
  margin: 0 auto;
}

.subnail-image {
  width: 20%;
  padding: 30px;
  border: 1px solid black;
  position: static;
  visibility: visible;
}

.subnail-image .image2 {
  position: static;
  visibility: visible;
}

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal span {
  font-size: 15px;
  font-weight: 400;
}

.modal .stars {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 38px;
}

.modal .stars > span {
  text-transform: uppercase;
  margin-left: 20px;
  line-height: 22px;
}
.modal p {
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.modal .price {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
}

.list.color {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 17px;
}

.list.color div {
  width: 40px;
  height: 40px;
}

.list.size {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 17px;
}

.list.size div {
  width: 40px;
  height: 40px;
  line-height: 34px;
  padding: 2px;
  background-color: var(--accent-color);
}

.modal .buttons {
  display: flex;
  margin-top: 42px;
  gap: 20px;
}
.modal button {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  width: 255px;
  height: 56px;
}

.add-to-bag {
  color: white;
  background-color: var(--background-color);
  border: none;
}

.modal .add-to-bag::before {
  content: url("../images/homepage_images/shopping-bag\ 1.png");
  position: relative;
  left: -15px;
  top: 10px;
}

.add-to-whishlist {
  color: var(--background-color);
  background-color: white;
  border: 1px solid var(--background-color);
}

.modal .add-to-whishlist::before {
  content: url("../images/modal_menu_images/Vector_heart.png");
  position: relative;
  left: -15px;
  top: 10px;
}

.social-networks {
  display: flex;
  gap: 25px;
  margin: 25px 0;
}

.delivery-exchange {
  width: 650px;
  background-color: var(--accent-color);
  color: rgba(51, 51, 51, 1);
  text-align: center;
  padding-bottom: 20px;
}

.delivery-exchange .container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.delivery-exchange .col {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-exchange p {
  font-size: 14px;
  word-break: break-word;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
    margin: 0 auto;
  }
  body {
    background-color: var(--accent-color);
  }
}
/*
@media (max-width: 1100px) {
  h1 {
    font-size: 45px;
    line-height: 65px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 18px;
  }

  p,
  a.button {
    font-size: 18px;
  }

  .discounts .cards {
    flex-direction: column;
  }

  .card button {
    font-size: 14px;
  }

 
  .container.footer {
    flex-wrap: wrap;
  }
  .container.footer .get-to-know-us {
    width: 600px;
    margin-bottom: 30px;
  }
}

@media (max-width: 890px) {
  .container.header a.logo img {
    display: none;
  }
}
*/
