:root {
  --background-color: #a04955;
  --primary-font-family: "Oswald";
  --secondary-font-family: "Open Sans";
  --accent-color: #f3f3f3;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid var(--background-color);
  margin: 20px 60px;
  line-height: 35px;
  padding-bottom: 10px;
}

.modal {
  margin: 0 auto;
}

.modal-container {
  display: flex;
  gap: 5%;
  font-family: var(--primary-font-family);
  background-color: white;
  width: 1440px;
  padding: 60px;
  border: 1px solid black;
}

.modal-images {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subnail {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-image {
  width: 100%;
  height: 469px;
  object-fit: cover;
  margin: 0 auto;
}

.subnail-image {
  width: 140px;
  height: 140px;
  border: 1px solid black;
  position: static;
  visibility: visible;
}

.subnail-image .image2 {
  position: static;
  visibility: visible;
}

.modal-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal span {
  font-size: 15px;
  font-weight: 400;
}

.modal .stars {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 38px;
}

.modal .stars > span {
  text-transform: uppercase;
  margin-left: 20px;
  line-height: 22px;
}
.modal p {
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.modal .price {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
}

.list.color {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 17px;
}

.list.color div {
  width: 40px;
  height: 40px;
}

div.black {
  background: black;
}

div.brown {
  background-color: brown;
}

div.blue {
  background-color: blue;
}

div.green {
  background-color: green;
}

div.grey {
  background-color: grey;
}

div.orange {
  background-color: orange;
}

div.white {
  background-color: white;
  border: 1px solid var(--accent-color);
}

.list.size {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 17px;
}

.list.size div {
  width: 40px;
  height: 40px;
  line-height: 34px;
  padding: 2px;
  background-color: var(--accent-color);
}

.modal .buttons {
  display: flex;
  margin-top: 42px;
  gap: 20px;
}
.modal button {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  width: 255px;
  height: 56px;
}

.add-to-bag {
  color: white;
  background-color: var(--background-color);
  border: none;
}

.modal .add-to-bag::before {
  content: url("../images/homepage_images/shopping-bag\ 1.png");
  position: relative;
  left: -15px;
  top: 10px;
}

.add-to-whishlist {
  color: var(--background-color);
  background-color: white;
  border: 1px solid var(--background-color);
}

.modal .add-to-whishlist::before {
  content: url("../images/modal_menu_images/Vector_heart.png");
  position: relative;
  left: -15px;
  top: 10px;
}

.social-networks {
  display: flex;
  gap: 25px;
  margin: 25px 0;
}

.delivery-exchange {
  width: 100%;
  background-color: var(--accent-color);
  color: rgba(51, 51, 51, 1);
  text-align: center;
  padding-bottom: 20px;
}

.delivery-exchange .container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.delivery-exchange .col {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-exchange p {
  font-size: 14px;
  word-break: break-word;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
    margin: 0 auto;
  }
  body {
    background-color: var(--accent-color);
  }
}
