:root {
  --background-color: #a04955;
  --primary-font-family: "Oswald";
  --secondary-font-family: "Open Sans";
  --accent-color: #f3f3f3;
}

h1 {
  font-family: var(--primary-font-family);
  color: #c4c4c4;
  font-weight: 500;
  font-size: 64px;
  line-height: 94px;
  margin: 20px 60px;
  width: 100%;
  border-bottom: 2px solid #c4c4c4;
}

h2,
h3,
h5 {
  font-family: var(--primary-font-family);
  color: black;
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-family: var(--primary-font-family);
  color: white;
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
.header .menu-item a,
a.button,
.aside-container h5 {
  text-transform: uppercase;
}

p,
a.button {
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

a.button {
  border: var(--button-border);
  padding: 10px 15px;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.header {
  margin: 30px 60px;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menu-item a {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--primary-font-family);
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .menu-item {
  display: inline;
  padding: 0 15px;
}

.header .menu-item a {
  color: #333333;
}

.search {
  border: 1px solid var(--background-color);
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: none;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  font-size: 0.7em;
  text-transform: uppercase;
}

.search button {
  border: none;
  background-color: white;
}

.search .search-icon {
  color: var(--background-color);
}

.submenu {
  margin: 20px 60px;
}

.submenu-filter {
  gap: 12px;
  width: 315px;
  margin-right: 60px;
}

.general-container {
  display: flex;
  background-color: var(--accent-color);
  padding: 20px 60px 80px 60px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 315px;
  max-height: fit-content;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid var(--background-color);
}

.line {
  border-bottom: 1px solid var(--background-color);
  margin-bottom: 20px;
}

.aside-container .section-header {
  display: flex;
  justify-content: space-between;
}

.aside-container img {
  display: block;
  width: 20px;
  height: 12px;
}

.dropdownlist {
  font-size: 20px;
  line-height: 36px;
  font-family: var(--primary-font-family);
  font-weight: 300px;
  padding-left: 0;
  list-style: none;
}

.dropdownlist.size,
.dropdownlist.color {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 17px;
}

.dropdownlist.size div {
  width: 40px;
  height: 40px;
  padding: 2px;
  background-color: var(--accent-color);
}

.dropdownlist.color div {
  width: 40px;
  height: 40px;
}

div.black {
  background: black;
}

div.brown {
  background-color: brown;
}

div.blue {
  background-color: blue;
}

div.green {
  background-color: green;
}

div.grey {
  background-color: grey;
}

div.orange {
  background-color: orange;
}

div.white {
  background-color: white;
  border: 1px solid var(--accent-color);
}

.product .section-header {
  justify-content: flex-end;
}

div.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 30px 0;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  font-family: var(--primary-font-family);
}

.card {
  background-color: white;
  width: 25%;
  height: 416px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card .stars {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.card p {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 18px;
  margin: 0;
}

.card span {
  font-weight: 600;
}

.card p::before {
  content: "As low as ";
  font-size: 18px;
}

.card button {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: var(--background-color);
  border: none;
  line-height: 40px;
  margin: 20px auto;
}

.card button::before {
  content: url("../images/homepage_images/shopping-bag\ 1.png");
  position: relative;
  left: 0;
  top: 10px;
}

.arrow-up {
  border-radius: 50%;
  color: white;
  background-color: var(--background-color);
  width: 83px;
  height: 83px;
  position: fixed;
  right: 25px;
  bottom: 140px;
  text-align: center;
  line-height: 100px;
}

.footer {
  background-color: var(--background-color);
  padding: 0 60px;
  gap: 42px;
  align-items: flex-start;
}

.footer a,
.footer p {
  color: white;
  line-height: 1.7rem;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
}

.footer .get-to-know-us {
  width: 40%;
}

.footer .subscribe {
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer .subscribe > input {
  border: none;
  height: 61px;
  background: var(--accent-color);
}

.footer .subscribe > input:focus {
  outline: none;
}

.footer .subscribe > input::placeholder {
  text-transform: uppercase;
  color: var(--background-color);
  padding-left: 25px;
  font-family: var(--primary-font-family);
}

.footer .button {
  margin: 8px;
  padding: 0 25px;
  line-height: 45px;
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
}

sub.copywrite {
  margin-left: 60px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
    margin: 0 auto;
  }
  body {
    background-color: var(--accent-color);
  }
}
/*
@media (max-width: 1100px) {
  h1 {
    font-size: 45px;
    line-height: 65px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 18px;
  }

  p,
  a.button {
    font-size: 18px;
  }

  .discounts .cards {
    flex-direction: column;
  }

  .card button {
    font-size: 14px;
  }

 
  .container.footer {
    flex-wrap: wrap;
  }
  .container.footer .get-to-know-us {
    width: 600px;
    margin-bottom: 30px;
  }
}

@media (max-width: 890px) {
  .container.header a.logo img {
    display: none;
  }
}
*/
