:root {
  --background-color: #a04955;
  --primary-font-family: "Oswald";
  --secondary-font-family: "Open Sans";
  --headings-color: #001f3d;
  --accent-color: #f3f3f3;
  --button-border: 1px solid black;
}

h1,
h4 {
  font-family: var(--primary-font-family);
  color: var(--headings-color);
}

h2,
h3 {
  font-family: var(--primary-font-family);
  color: #333333;
}

h1 {
  font-weight: 700;
  font-size: 65px;
}

h2 {
  font-weight: 500;
  font-size: 64px;
}

h3 {
  font-weight: 500;
  font-size: 36px;
}

h1,
h2,
.discounts h3,
.shirt h3,
h4,
.header .menu-item a,
a.button {
  text-transform: uppercase;
}

p,
a.button {
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-size: 24px;
}

a.button {
  border: var(--button-border);
  padding: 10px 15px;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.header,
.container.shorts,
.container.pants,
.container.about {
  margin: 30px 60px;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menu-item a {
  font-size: 20px;
  font-weight: 400;
  font: var(--primary-font-family);
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .menu-item {
  display: inline;
  padding: 0 15px;
}

.header .menu-item a {
  color: #333333;
}

.search {
  border: 1px solid var(--background-color);
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: none;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  font-size: 0.7em;
  text-transform: uppercase;
}

.search button {
  border: none;
  background-color: white;
}

.search .search-icon {
  color: var(--background-color);
}

.footer {
  background-color: var(--background-color);
  padding: 0 60px;
  gap: 42px;
  align-items: flex-start;
}

.footer h4 {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.footer a,
.footer p {
  color: white;
  line-height: 1.7rem;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
}

.footer .subscribe {
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer .subscribe > input {
  border: none;
  height: 61px;
  background: var(--accent-color);
}

.footer .subscribe > input:focus {
  outline: none;
}

.footer .subscribe > input::placeholder {
  text-transform: uppercase;
  color: var(--background-color);
  padding-left: 25px;
  font-family: var(--primary-font-family);
}

.footer .button {
  margin: 8px;
  padding: 0 25px;
  line-height: 45px;
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
}

sub.copywrite {
  margin-left: 60px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
}
